/* Import css files */
@import url('./fonts.css');
@import url('./bootstrap.css');

/* General Styles */
html {
    font-family: 'Montserrat', sans-serif !important;
}

body {
    background-color: #ffffff;
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #01b89f;
}

span {
    color: #00d2b5;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0 8px;
}

.list__item {
    margin: 10px 0;
    font-size: 1.12em;
    line-height: 1.7;
}

.list__item--color {
    color: #848484;
}

.list__item:before {
    font-family: 'icomoon';
    content: '\e876';
    margin-left: -16px;
    margin-right: 14px;
    color: #00ad00;
    font-size: 1.2em;
}

/* Buttons */
.button {
    display: inline-block;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background-image: none;
    border-radius: 40px;
    transition: 0.5s all ease;
    text-transform: capitalize;
    font-weight: 500;
    border: none;
}

.button--primary {
    padding: 12px 30px;
    font-size: 1.12em;
    color: #fff;
    background-color: #00d2b5;
    box-shadow: 0 2px 5px rgba(0, 223, 192, 0.6);
}

.button--primary:hover {
    color: #fff;
    background-color: #01b89f;
    border: none;
}

.button--secondary {
    padding: 0;
    color: #00d2b5;
    font-size: 1em;
}

/* Backgrounds */
.background--primary {
    background-color: #ffffff;
}

.background--secondary {
    background-color: #f6f6f6;
}

.background--tertiary {
    background-color: #00d2b5;
}

/* Section */
section {
    margin: 0;
    padding: 60px 0;
}

.section__heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section__title {
    font-size: 2.8em;
    font-weight: 800;
    text-transform: capitalize;
}

.section__title--primary {
    color: #000000;
}

/* Card */
.card {
    border-radius: 4px;
    box-shadow: 0 0 6px #f5f5f5;
    padding: 30px 20px;
}

.card--column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card--row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.card__header {
    margin-bottom: 12px;
    width: 100%;
}

.card__avatar {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 1.7em;
}

.card__avatar--icon {
    width: 40px;
    height: 40px;
}

.card__avatar--face {
    width: 64px;
    height: 64px;
}

.card__avatar--circle {
    border-radius: 40px;
    box-shadow: 0 0 5px rgba(0, 223, 192, 0.6);
}

.card__naming {
    margin: 0 8px;
    padding: 0 8px;
    width: 100%;
}

.card__founder {
    font-size: 1.12em;
    font-weight: 800;
    text-transform: capitalize;
    margin-top: 18px;
}

.card__company {
    font-weight: 400;
    font-size: 1.1em;
}

.card--border {
    border: 1px solid #eaeaea;
    box-shadow: 0 4px 14px #f2f2f2;
}

.card__content {
    width: 100%;
}

.card__blockquote {
    padding: 12px;
}

.blockquote__paragraph {
    font-size: 1.12em;
    line-height: 1.7;
    font-style: italic;
}

.blockquote__paragraph--color {
    color: #848484;
}

.card__footer {
    width: 100%;
}

/* Navigation */

.navigation {
    border: 1px solid #fbfbfb;
    box-shadow: 0px 0px 8px #efefef;
    height: 60px;
}

.navigation__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px;
    margin: 0;
}

.navigation__list {
    padding: 4px;
    margin: 0 0 0 80px;
}

.navigation__item {
    font-weight: 400;
    color: #000000;
    text-transform: capitalize;
    font-size: 1em;
}

.navigation__item--separator {
    margin: 0 24px;
}

.navigation__item--selected {
    color: #00d2b5;
}

/* Header */

.header {
    width: 100%;
    height: 880px;
    padding: 0;
    margin: 0;
    position: relative;
}

.header::after {
    width: calc(49% + 100px);
    height: 800px;
    background: url('./../img/landing_1.png');
    content: '';
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat;
    top: 130px;
    right: 0;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 800px;
    padding: 20px 0;
    margin: 20px 4px;
}

.header__brand {
    width: 100%;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
    padding: 0;
}

.header__brand--color {
    color: #000000;
}

.header__welcoming {
    width: 30%;
    padding-left: 6px;
    margin: 0;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}

.header__title {
    font-size: 4em;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.3;
}

.header__title--color {
    color: #000000;
}

.header__description {
    font-size: 1.1em;
    line-height: 1.7;
    font-weight: 400;
}

.header__description--color {
    color: #848484;
}

.header__button {
    margin: 38px 0;
}

/* Section Feature */

.feature__content {
    margin: 40px 0;
    padding: 0;
}

.feature__item {
    margin: 20px 0 8px 0;
}

.feature__title {
    font-weight: 500;
    font-size: 1.1em;
    padding: 4px 8px 0 10px;
}

.feature__title--color {
    color: #000000
}

.feature__description {
    line-height: 1.8;
    font-size: 1.04em;
    padding: 0 8px 2px 10px;
    letter-spacing: 0;
}

.feature__description--color {
    color: #848484;
}

.feature__button {
    padding: 4px 8px 0 10px;
}

/* Advantage Section */
.advantage__content {
    margin: 14px 0;
    padding: 10px 0;
}

.advantage__column:nth-child(2) {
    padding: 20px 10px 10px 30px;
}

.advantage__heading {
    padding: 10px 0 0 18px;
}

.advantage__title {
    font-size: 2.8em;
    font-weight: 800;
    line-height: 1.2;
    word-spacing: 0;
    letter-spacing: 0;
}

.advantage__title--color {
    color: #000000
}

.advantage__description {
    line-height: 1.8;
    font-size: 1.1em;
    padding: 14px 0;
    letter-spacing: 0;
}

.advantage__description--color {
    color: #848484;
}

.advantage__guarantees {
    padding: 0 20px 0 28px;
}

.advantage__founder {
    padding: 20px 0 0 20px;
    margin: 18px 0;
}

.advantage__card {
    padding: 10px;
}

/* About Section */

.about__content {
    margin: 20px 0;
    padding: 30px 0;
}

.about__image {
    border-radius: 4px;
    box-shadow: 0px 4px 14px #d1d1d1;
}

.about__column:nth-child(1) {
    padding: 8px 15px;
}

.about__title {
    font-size: 2.2em;
    color: #000000;
    font-weight: 500;
    line-height: 1.3;
    margin: 0;
    padding: 6px 10px 12px 20px;
}

.about__description {
    font-size: 1.12em;
    line-height: 1.7;
    color: #848484;
    margin: 0;
    padding: 10px 15px 10px 20px;
}

.about__button {
    margin-left: 18px;
    margin-top: 10px;
}

/* Contact Section */

.contact__content {
    margin: 40px 0;
    padding: 20px 0;
}

.contact__column {
    padding: 0 64px;
}

.contact__card {
    padding: 30px 20px 50px 20px !important;
}

form {
    padding: 3px 26px;
}

.form__heading {
    margin-bottom: 40px;
}

label {
    font-weight: 400;
    font-size: 1.1em;
    margin-bottom: 4px;
}

.form-group {
    margin-bottom: 22px !important;
}

input {
    height: 46px !important;
    border-radius: 0 !important;
    color: #696969 !important;
    font-weight: 500;
    font-size: 1.08em;
}

textarea {
    border-radius: 0 !important;
    color: #696969 !important;
    font-weight: 500;
    font-size: 1.08em;
}

textarea::-webkit-input-placeholder {
    color: #696969 !important;
    font-weight: 500;
    font-size: 1.08em;
    padding: 2px;
}

textarea::-moz-placeholder {
    color: #696969 !important;
    font-weight: 500;
    font-size: 1.08em;
    padding: 2px;
}

textarea:-ms-input-placeholder {
    color: #696969 !important;
    font-weight: 500;
    font-size: 1.08em;
    padding: 2px;
}

textarea:-moz-placeholder {
    color: #696969 !important;
    font-weight: 500;
    font-size: 1.08em;
    padding: 2px;
}

/* Footer */

footer {
    padding: 0;
    margin: 0;
    height: 200px;
    border-top: 1px solid #f2f2f2;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 200px;
    padding: 42px 0;
}

.footer__copyright {
    font-size: 1.13em;
    line-height: 1;
    font-weight: 400;
}

.footer__copyright--color {
    color: #848484;
}