/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) { 
    .navigation__content {
        padding-left: 0;
    }

    .navigation {
        border: none;
        box-shadow: 0 0 0 transparent;
    }

    .header__media {
        height: 250px;
     }

     .header__image {
        z-index: 4;
        position: relative;
        left: 0;
        top: 0;
    }
 }

 @media (min-width: 576px) { 
    .navigation__content {
        padding-left: 0;
    }

    .navigation {
        border: none;
        box-shadow: 0 0 0 transparent;
    }

    .header__media {
        height: 250px;
     }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 

    .navigation__content {
        padding-left: 36px;
    }

    .navigation {
        border: none;
        box-shadow: 0 0 8px #efefef;
    }

    .header__media {
        height: 750px;
     }

     .header__image {
        z-index: 4;
        position: absolute;
        left: 100px;
        top: 74px;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

    .navigation__content {
        padding-left: 14px;
    }

    .navigation {
        border: 1px solid #fbfbfb;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

 }