/* Small devices (landscape phones, 576px and up) */
@media (min-width: 316px) {
    .navigation__content {
        padding-left: 0;
    }

    .navigation {
        border: none;
        box-shadow: 0 0 0 transparent;
    }

    .header__media {
        height: 230px;
        margin: 0;
    }

    .header__content {
        padding: 0 0 40px 0;
        margin: 0 0 40px 0;
    }

    .header__image {
        z-index: 4;
        position: relative;
        left: 0;
        top: 0;
    }

    .header__welcoming {
        margin: 12px 0;
    }

    .header__title {
        font-size: 1.8em;
    }

    .header__description {
        font-size: 0.9em;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 321px) {
    .header__title {
        font-size: 2em;
    }

    .header__description {
        font-size: 1.1em;
    }
}

@media (min-width: 576px) {
    .navigation__content {
        padding-left: 0;
    }

    .navigation {
        border: none;
        box-shadow: 0 0 0 transparent;
    }

    .header__media {
        height: 340px;
        margin: 0 0 40px 0;
    }

    .header__image {
        z-index: 4;
        position: relative;
        left: 0;
        top: 0;
    }

    .header__welcoming {
        margin: 45px 0 0 0;
    }

    .header__title {
        font-size: 3.7em;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    .navigation__content {
        padding-left: 46px;
    }

    .navigation {
        border: none;
        box-shadow: 0 0 8px #efefef;
    }

    .header::after {
        width: 490px;
        height: 400px;
        top: 248px;
    }

    .header__content {
        padding: 40px 0 0 0;
        margin: 40px 0 0 0;
    }

    .header__welcoming {
        margin: 0;
        height: 660px;
    }

    .header__title {
        font-size: 2.95em;
    }

    .header__description {
        font-size: 1.1em;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

    .navigation__content {
        padding-left: 14px;
    }

    .navigation {
        border: 1px solid #fbfbfb;
    }

    .header::after {
        width: 614px;
        height: 500px;
        top: 226px;
    }

    .header__content {
        padding: 20px 0;
        margin: 20px 4px;
    }

    .header__welcoming {
        height: 750px;
    }

    .header__title {
        font-size: 3.9em;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .header::after {
        width: 740px;
        height: 600px;
        top: 200px;
    }
}

@media (min-width: 1400px) {
    .header::after {
        width: 815px;
        height: 660px;
        top: 200px;
    }
}

@media (min-width: 1600px) {
    .header::after {
        width: 860px;
        height: 700px;
        top: 185px;
    }

    .header__content {
        padding: 20px 0 40px 0;
        margin: 20px 4px 40px 4px;
    }
}